<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: headerfiles ('SC add nessage')">

</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class=" row mt-2">
        <div class="col-2">
            <a class="btn btn-outline-dark btn-lg btn-block" th:href="@{/messages/new}" role="button">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
                New</a>
            <a th:href="@{/messages/inbox}"
               th:classappend="${#httpServletRequest.requestURI}=='/messages/inbox' ? 'btn-primary' : 'btn-secondary'"
               class="btn btn-block">Inbox</a>
            <a th:href="@{/messages/sent}"
               th:classappend="${#httpServletRequest.requestURI}=='/messages/sent' ? 'btn-primary' : 'btn-secondary'"
               class="btn btn-block">Sent</a>
        </div>

        <div class="col-10">
            <form th:object="${messageform}" th:action="@{/messages/new}" method="post">
                <h5>New message</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="forall">
                    <label class="form-check-label" for="forall">
                        Send message to all users
                    </label>
                </div>
                <div class="form-group">
                    <label for="selectuser">To:</label>
                    <select th:field="*{toUser}" class="form-control" id="selectuser">
                        <option th:each="user : ${userlist}"
                                th:value="${user.id}"
                                th:text="${user.name} + ' ' + ${user.surname}">toUser
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter you message:</label>
                    <textarea th:field="*{text}" class="form-control" id="exampleFormControlTextarea1"
                              rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

<script>
    $(function () {
        $("#forall").click(function () {
            if ($(this).is(":checked")) {
                $("#selectuser").attr("disabled", "disabled");

                $("#selectuser").focus();
            } else {
                $("#selectuser").removeAttr("disabled");
            }
        });
    });
</script>
</body>
</html>