<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: headerfiles ('SC message list')">

</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class=" row mt-2">
        <div class="col-2">
            <a class="btn btn-outline-dark btn-lg btn-block" th:href="@{/messages/new}" role="button">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
                New</a>
            <a th:href="@{/messages/inbox}"
               th:classappend="${#httpServletRequest.requestURI}=='/messages/inbox' ? 'btn-primary' : 'btn-secondary'"
               class="btn btn-block">Inbox</a>
            <a th:href="@{/messages/sent}"
               th:classappend="${#httpServletRequest.requestURI}=='/messages/sent' ? 'btn-primary' : 'btn-secondary'"
               class="btn btn-block">Sent</a>
        </div>

        <div th:if="${messagePage != null}" class="col-10">
            <div class="list-group">
                <a th:each="mess : ${messagePage}" th:text="'Message from user ' + ${mess.fromUser.name} + ' ' +
                       ${mess.fromUser.surname} + ' to user ' + ${mess.toUser.name} + ' ' +
                       ${mess.toUser.surname} + ' ' +${mess.createdAt.toLocaleString()}"
                   th:classappend="${mess.unread} ? 'list-group-item-primary' : 'font-weight-normal'"
                   th:href="'/messages/read/' + ${mess.id}" class="list-group-item list-group-item-action">Message</a>
            </div>
            <!-- messages pagination -->
            <nav aria-label="Pagination" th:if="${messagePage.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold pagination-sm">
                    <li class="page-item" th:classappend="${messagePage.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${messagePage.number lt 2 ? 1 : messagePage.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq messagePage.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, messagePage.totalPages, 1)}">
                        <a class="page-link" th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${i})}"
                           th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${messagePage.number + 1 eq messagePage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${messagePage.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>