<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles ('SC Orders list')">
</head>
<body>
<div class="container">
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div th:if="${ordersPage != null}" class="mt-2">
        <table class="table table-hover table-sm ">
            <thead class="thead-dark">
                <tr>
                    <th>OrderNo</th>
                    <th>Created date</th>
                    <th>SerialNo</th>
                    <th>ModelName</th>
                    <th>ClientName</th>
                    <th>ClientMobile</th>
                    <th>Current status</th>
                    <th>Edit</th>
                </tr>
            </thead>
<!--            static method to convert repair STATUS to more informative colors scheme -- OPTIONAL -->
            <tr th:each="order : ${ordersPage}" th:class=
                    "${T(com.googe.ssadm.sc.utils.ConvertStatusToColor).convertStatusToColor(order.status)} + ' '">
                <td th:text="${order.id}">Id</td>
                <td th:text="${order.getCreatedDate().toLocaleString()}">Id</td>
                <td th:text="${order.serialNo}">SerialNo</td>
                <td th:text="${order.modelName}">ModelName</td>
                <td th:text="${order.clientName} + ' ' + ${order.clientSurname}">Clent Name</td>
                <td th:text="${order.clientMobile}">Mobile</td>
                <td th:text="${order.status}">Order status</td>
                <td>
                    <a th:href="@{/orders/edit/{id} (id=${order.id})}"
                       class="btn btn-sm btn-outline-success">Edit</a>
                </td>
            </tr>
        </table>

        <!-- orders pagination -->
        <nav aria-label="Pagination" th:if="${ordersPage.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold pagination-sm">
                <li class="page-item" th:classappend="${ordersPage.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/orders?page={id}(id=${ordersPage.number lt 2 ? 1 : customers.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq ordersPage.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, ordersPage.totalPages, 1)}">
                    <a class="page-link" th:href="@{/orders?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${ordersPage.number + 1 eq ordersPage.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/orders?page={id}(id=${ordersPage.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <form th:action="@{/orders/new}" th:method="get">
        <input  class="button button-block" type="submit" value="Add order"/>
    </form>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
</body>
</html>