<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles ('SC Transactions list')">

</head>
<body>
<div class="container">
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div class=" row mt-2">
        <div class="col-2">
            <a class="btn btn-outline-dark btn-lg btn-block" th:href="@{/transactions/new}" role="button">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
                New</a>
            <a th:href="@{/transactions}"
               class="btn btn-block btn-primary mb-2">All transactions</a>
            <ul class="list-group">
                <li class="list-group-item d-flex small">
                    TOTAL
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-success text-wrap" style="width: 8rem;"
                         th:text="'INCOME: ' + ${income}">
                    </div>
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-danger text-wrap" style="width: 8rem;"
                         th:text="'EXPENSES: ' + ${expenses}"></div>
                </li>
                <li class="list-group-item d-flex small">
                    MONTH
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-success text-wrap" style="width: 8rem;"
                         th:text="'INCOME: ' + ${mincome}"></div>
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-danger text-wrap" style="width: 8rem;"
                         th:text="'EXPENSES: ' + ${mexpenses}"></div>
                </li>
                <li class="list-group-item d-flex small">
                    DAILY
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-success text-wrap" style="width: 8rem;"
                         th:text="'INCOME: ' + ${dincome}"></div>
                </li>
                <li class="list-group-item d-flex">
                    <div class="badge badge-danger text-wrap" style="width: 8rem;"
                         th:text="'EXPENSES: ' + ${dexpenses}"></div>
                </li>
            </ul>
        </div>

        <div th:if="${transactionsPage != null}" class="col-10">
            <div class="list-group">
                <a th:each="transaction : ${transactionsPage}" th:text="'Transaction No:' + ${transaction.id}
                            + ' created at ' + ${transaction.createdAt} + ' author ' + ${transaction.author}
                            + ' ' + (${transaction.debit} ? 'DEBIT' : 'CREDIT') + ' - '
                            + ${transaction.shortDescription} + ' '
                            + ${transaction.amount} + ' ' + ${transaction.currency}"
                   th:classappend="${transaction.debit} ? 'list-group-item-success' : 'list-group-item-danger'"
                   th:href="'/transactions/edit/' + ${transaction.id}" class="list-group-item list-group-item-action">Transaction</a>
            </div>
            <!-- transactions pagination -->
            <nav aria-label="Pagination" th:if="${transactionsPage.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold pagination-sm">
                    <li class="page-item" th:classappend="${transactionsPage.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${transactionsPage.number lt 2 ? 1 : transactionsPage.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq transactionsPage.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, transactionsPage.totalPages, 1)}">
                        <a class="page-link" th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${transactionsPage.number + 1 eq transactionsPage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{__${#httpServletRequest.requestURI}__?page={id}(id=${transactionsPage.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>



    </div>


    <div th:replace="/fragments/footer :: footer"></div>
</div>

</body>
</html>